* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
img {
    display: block;
    width: 100%;
    margin: auto;
}

/* css card */
.container-course {
    justify-content: center;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    
   
    
}
.card {
    margin: 15px;

    background-color: #FFFF;
    width: 308px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 4px
    
    
    
   
}
.card {
    width: 310px;
}
.card img {
    height: 215.77px;
   
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.card h2 {
    font-size: 1.2rem;
    color: #464646;
    font-weight: 500;
    margin-bottom: 5px;
    
}
.title-course {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  
}
#text {
   margin-left: 0;
}
.title-course p {
    color: #757575;
    font-size: 14.4px;
    margin: 15px 20px 30px 20px;
    margin-bottom: 20px;

}
.card i {
    color: yellow;
    padding: 2px;
    margin-right: -20px;
}
.title-course-item {
    margin: 16px 24px 0; 
}






















/* css footer */
.footer_item {
    background-color: #30598c;
}

.container-footer {
    display: flex;
    width: 1200px;
    width: 100%;
    padding: 35px;
    flex-direction: row-reverse;
}
.footer_item {
    flex-basis: 25%;
    padding: 0 15px;
    line-height: 2.5em;
    color: #FFFF;
    font-size: 14px;
    font-weight: 1000;
   justify-content: end;
}
.footer_container_full { 
    background-color: #30598c;
}
.footer_item li {
    list-style-type: none;
}

.footer_item li a {
    color: #FFFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: 1000;
}
h4 {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-weight: 500px;
    padding-bottom: 10px;
    padding: 6px;
    line-height: 1.2;
}
 li a:hover{
    color: #808000;
    text-decoration: underline;
}
