* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.header {
    background-color: #30598c;
    padding: 0 15px;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .logo img {
    width: 120px; */
}

.sidebar {
    display: flex;
    align-items: center;
    position: relative;
}

/* style menu */
.menu > ul {
    display: flex;
}

.menu-item {
    color: #fff;
    font-size: 15px;
    margin: 0 10px;

    position: relative;
    height: 60px;

    display: flex;
    align-items: center;

    cursor: pointer;
    font-weight: bold;
}

.menu-item span {
    margin-left: 5px;
}

/* style sub-menu */
.sub-menu {
    position: absolute;
    top: 100%;
    right: 0;

    width: 200px;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    background-color: #fff;
    border-radius: 4px;
    color: #212529;

    display: none;
}

.menu-item:hover .sub-menu {
    display: block;
}

.sub-menu-item {
    padding: 11px 16px;
    cursor: pointer;
    text-align: center;
}

.sub-menu-item:hover {
    background-color: #c4c4c4;
    color: #fff;
}

/* style shopping cart */

/* style avatar */
.avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.card-icon {
    color: #fff;
}
.card-cound {
   background-color: #26a69a;
   position: absolute;
   left: 820px;
   top: 5px;
   color: #fff;
   font-weight: bold;
   width: 15px;
   text-align: center;
   
}
