* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: auto;
    height: auto;
}
.image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    
}
body {
    background-color: #e1f0f7;
}
/* menu css */
.menu {
    background-color: #9ddaf7;
    display: flex;
    justify-content: space-between;
    height: 80px;
}
#menu-logo-1 {
    width: 30px;
    height: 32px;
    border-radius: 50%;

}
.menu-logo-1 p{
    padding: 2px;
    color: #e1f0f7;
}

.menu-logo {
    padding: 8px 11px 8px 80px;
    text-align: center;
    font-size: 26px; 
}
.menu-item {
    display: flex;
    align-items: center;
    margin: 25px;
}
.menu-item-1 {
    display: flex;
    list-style: none;
}
.menu-item2 a {
    margin: 0 40px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
/* mô tả image */
.image {
    display: flex;
   padding: 30px;
   
   
}
@keyframes exsapmle {
    from{transform: translateY(0px);
        display: none;}
    to{transform: translateY(-200px);
        display: block;}

    }
    .image-1 p {
        font-size: 40px;
        text-align: center;
        color: #e1f0f7;
        animation: exsapmle;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
.image-1 img {
    height: 380px;
    object-fit: cover;
}


.image-2{
    padding: 30px;
}
.buy-directly h3 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.buy-directly {
    line-height: 23px;
}
.buy-online-1 {
    line-height: 23px;
}
.buy-online-2 {
    line-height: 23px;
}










/* footer */
.footer-info-1 li {
    cursor: pointer;}
    .footer-infor2 li {
        cursor: pointer;}
.footer{
    padding: 40px;
    margin-top: 70px;
    background-color: #9ddaf7;
   display: flex;
   justify-content: space-around;
    
}
.footer-info-1{
    padding: 0 20px;
    width: 20%;
    line-height: 25px;
}
.footter-about {
    padding: 0 20px;
    width: 50%;
}
    
.fa-twitter-square:before {
    content: "\f081";
    padding: 0 15px;
}
.footer-infor-2 {
    line-height: 25px;
}
.footer-info-icon {
    padding: 5px 0;
}
.footter-about h2 {
    padding-bottom: 9px;
    font-size: 20px;
}
