*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    
}
/* cấp 1 */
h2{
    margin: 50px;
}
.menu {
    margin: 50px;
    width: 200px;
    box-shadow: 1px 2px 2px rgb(186, 182, 182);
    background-color: #ffffff;
    position: relative;
    
}

li text {
    padding: 5px;
}
.icon{
    padding: 5px;
}
.sub-menu-1 {
    line-height: 5px;
    background-color: #fffff;
    width: 200px;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 200px;
    box-shadow: 1px 2px 2px rgb(186, 182, 182);
   
}
li text {
    padding: 25px;
}
#maytinh span {
    display: none;
}
#maytinh:hover span {
    display: block;
}
#phukiendidong span {
    display: none;
}
#phukiendidong:hover span {
    display: block;
}

.sub-menu-2 {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    list-style: 5px;
    padding: 0px 0px 0px 15px;
    position: absolute;
    top: 0;
    left: 201px;
    box-shadow: 1px 2px 2px rgb(186, 182, 182);
}
.menu a {
    text-decoration: none;
    color: #757575;
    font-size: 13px;
}
li:hover .icon{
    display: block;
    color: orangered;
}
.icon {
    display: none;
}
li p{
    padding: 5px;
}
li{
    
    list-style: none;
    color: #757575;
    font-size: 13px;
    line-height: 27px;
    display: flex;
    justify-content: space-between;
   
}
span i{
    display: block;
}


a li{
    position: relative;
    font-size: 13px;
    color: #757575;
    
}


/* css hover */
.sub-menu-1 span{
    display: none;
}

.menu > li:hover .sub-menu-1 {
    display: block;
}
.menu > li:hover {
    color: orangered;
    background-color: #e7e5e5;
}
.sub-menu-1 ,.sub-menu-2 {
    display: none;  
}
#maytinh:hover .sub-menu-2 {
    display: block;
}
/* hover dong 2 */
#phukien:hover #didong {
    display: block;
}
#phukiendidong:hover #nganhang{
    display: block;
}
li a:hover{
    color: orangered;
}
.menu li:hover {
    color: orangered;
    background-color: #e7e5e5;
}
.menu > li:hover{
    color: orangered;
    background-color: #e7e5e5;
}
