* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 
}
img {
    display: block;
     max-width: 100%;
     margin: auto;
}
.container course {
    width: 1400px;
    display: block;
    flex-wrap: wrap;
    
}
.container {
   background-color: aqua;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: stretch;
}








/* footer css */
.footer_item {
    background-color: #30598c;
}

.container-footer {
    display: flex;
    width: 1200px;
    width: 100%;
    padding: 35px;
    flex-direction: row-reverse;
}
.footer_item {
    flex-basis: 25%;
    padding: 0 15px;
    line-height: 2.5em;
    color: #FFFF;
    font-size: 14px;
    font-weight: 1000;
}
.footer_container_full { 
    background-color: #30598c;
}
.footer_item li {
    list-style-type: none;
}

.footer_item li a {
    color: #FFFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: 1000;
}
h4 {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-weight: 500px;
    padding-bottom: 10px;
    padding: 6px;
    line-height: 1.2;
}
 li a:hover{
    color: #808000;
    text-decoration: underline;
}
 
