* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Roboto', sans-serif;
}
.container {
    max width: 1200px;
    margin: auto;
    display: flex;
    padding-left: 15%;
    background-color: #FFFF;
    flex-wrap: wrap;


    
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}
.courses-item {
    flex-basis: 33.3%;
    padding: 0 15px;
    flex-wrap: wrap;
    flex-direction: row;
}


/* style card */
.card {
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    margin: auto;
    margin-bottom: 30px;
    flex-wrap: wrap;
    border-radius: 5px;
    max-width: 992px;
}

.content {
    padding: 20px;
}

.title {
    font-size: 19px;
    color : #464646;
    font-weight: 400;
}

.info {
    display: flex;
    
    align-items: center;
}

.type, .rating {
    font-size: 14px;
    color: #757575;
    font-weight: 100;
}

.type {
    margin: 14px 0;

}

 



.rating span {
    color: #ffd600;
}

/* footer css */
.footer_item {
    background-color: #30598c;
}

.container-footer {
    display: flex;
    width: 1200px;
    width: 100%;
    padding: 35px;
    flex-direction: row-reverse;
}
.footer_item {
    flex-basis: 25%;
    padding: 0 15px;
    line-height: 2.5em;
    color: #FFFF;
    font-size: 14px;
    font-weight: 1000;
   justify-content: end;
}
.footer_container_full { 
    background-color: #30598c;
}
.footer_item li {
    list-style-type: none;
}

.footer_item li a {
    color: #FFFF;
    text-decoration: none;
    font-size: 14px;
    font-weight: 1000;
}
h4 {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-weight: 500px;
    padding-bottom: 10px;
    padding: 6px;
    line-height: 1.2;
}
 li a:hover{
    color: #808000;
    text-decoration: underline;
}
